@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
li {
  cursor: pointer;
}

.dropdown {
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
}


.dropdown:hover .dropdown-content {
 display: inline-block;
}

.dropdown:hover .dropdown-li {
  background-color: #87C4FF;
}

.font-link {
  font-family: 'Magra', sans-serif;
}

.navBarHoverLarge{
  @apply  hover:bg-[#87C4FF] transition-all ease-in-out duration-300
}
.navBarHoverOffer{
  @apply ease-in-out duration-300 hover:scale-110
}
.navBarHoverSmall {
  @apply hover:bg-[#87C4FF] transition-all  hover:ease-in-out hover:duration-300
}
.checkOfferButtonHover {
  @apply transition-all duration-150 ease-in hover:scale-105 hover:font-medium
}
